/* homepage image height styles */
.homepage-image-wrapper {
    position: relative;
    color: #fff;
}
.homepage-image-wrapper img,
.home-section-6 .field-name-field-splash-image img{
    width: 100%;
}
.homepage-image-caption {
    position: absolute;
    bottom: 4em;
    height: 3em;
    margin-bottom: -3.8em;
    padding-top: 2em;
    width: 100%;
    background: rgba(0,0,0,0.0);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.5) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.0)), color-stop(100%, rgba(0,0,0,0.5)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.5) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.5) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.5) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.5) 100%);
}
.homepage-image-caption-text {
    width: 1074px;
    margin: 0 auto;
}
.homepage-image-caption-title {
    font-weight: bold;
}

.homepage-image-caption-author {
    opacity: 0.8;
    font-size: 0.85em;
    margin-top: 0.5em;
}
/* end */
/* homepage grid */
.home-section-3 .panel-pane {
    width: 29em;
}
.inside.panels-flexible-region-inside.panels-flexible-region-3-three_sections-inside.panels-flexible-region-inside-first.panels-flexible-region-inside-last {
    margin-right: -2.666%%;
}


#name-and-slogan h1 {
  height: 105%;
}
#name-and-slogan .nav-logo-one {
  height: 135px;
}
div#google_translate_element {
  height: 1.5em;
  overflow-y: hidden;
}
#hamburger-one {
  top:0;
}
#block-nice-menus-1 ul li {
  width: auto;
  padding: 0 3%;
}

  #block-nice-menus-1 ul .menu-path-1.active-trail {
    border-bottom: 5px solid #00bed5;
  }

.ccsf-footer-top {
  height: 230px;
}
.ccsf-footer-top .ccsf-footer-top-section {
  width: 40%;
}
div#ccsf-footer-twitter {
  width: 30%;
}
div#ccsf-footer-share {
  width: 21%;
}

.t5-main-wrap article {
  padding: 0 0 60px 24px;
}

.chart {
  margin: 2em 0;
}
.ct-chart line.ct-bar {
    stroke: black;
}

.kits-color-section .t3-splash-wrap {
  height: 420px;
  background: #c3f7f2;
}
/*
#outreach-background-image {
  background-image: url("../images/Canvassing-faded.JPG");
  background-position: 100% 50%;
  background-size: 160%;
} */
.page-content .note.violent-situation-note {
  background-color: #222 !important;
}
.page-content .note.violent-situation-note .note-heading {
  margin-bottom: 0;
  color: white;
}
.page-content .note, .page-content .note li {
    font-size: 15px;
    margin: 0.75em 0;
}
.page-content .article-inner .files-list {
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 3em;
}
.page-content .article-inner .files-list li a {
    display: block;
    padding: 0.5em 0 0.5em 0.5em;
    border-bottom: 1px solid #ddd
}
.page-content .article-inner .files-list li:first-child a {
   border-top: 1px solid #ddd;
   margin-top: 1em;
}
.files-list li a i.icon-download {
    float: right;
    opacity: 0;
}
.files-list li a:hover i.icon-download {
    opacity: 1;
    transition: all 0.75s;
}
.files-list li a:hover {
    background-color: #f7f7f7;
    transition: all 0.75s;
}
a i.icon-download:before {
    content: '\e98e';
    font-size: 1em;
    font-family: "fontello";
    margin-right: 0.5em;
    font-style: normal;
}

.page-content img {
    max-width: 100%;
    margin: 1em 0 2em 0;
}

.img-caption {
    width: 40%;
    float: left;
    margin-right: 3em;
    font-style: italic;
    margin-bottom: 1em;
}

.img-caption img {
    max-width: 100%;
    margin-bottom: 0.5em;
}

h3, h4, .page-content .note {
  clear: both;
}
.t5-main-wrap .node-single ul {
  margin-bottom: 4em;
}
.t5-main-wrap .node-single ul.vps-activities {
  margin-bottom: 3em;
}
.t5-main-wrap .node-single ul li {
  margin-bottom: 1em;
}
.t5-main-wrap .node-single ul.files-list li {
  margin-bottom: 0;
}
.contact-info-header {
    margin-top: 2em;
}

p.photo-credit.photo-credit {
    font-size: 0.8em;
    opacity: 0.6;
    font-style: normal;
    margin: 0 0 1em 0;
}

#main .photo-credit a {
    color: #888;
}
.field-content.carousel-subtext-normal {
    opacity: 0.8;
    font-size: 0.8em;
    color: #fff;
}
#main .field-content.carousel-subtext-normal a {
    color: #fff;
}

.img-caption p + .photo-credit {
    margin-top: -0.75em;
}
.node-splash-image p.photo-credit {
    float: left;
    padding-left: 2em;
    opacity: 0.4;
}
#main .node-splash-image p.photo-credit a {
    color: #fff;
}

@media only screen and (max-width: 950px) {
  #name-and-slogan .nav-logo-one {
    height: 78px;
    background-size: 100%;
  }
  #ccsf-footer-about {
    display: block;
  }
  .img-caption {
    width: 100%;
  }
  .homepage-image-caption-text {
      width: 95%;
  }
}
@media only screen and (max-width: 730px) {
    .homepage-image-wrapper {
        overflow:hidden;
    }
    .homepage-image-wrapper img {
        width: 140%;
    }
    .home-section-3 .panel-pane {
        width: 100%;
        text-align: center;
    }
    .home-section-3 .panel-pane .field-name-body, .home-section-3 .panel-pane .field-name-field-heading {
        width: 95%;
    }
    .home-section-3 .panel-pane .field-name-field-link {
        width: 100%;
        margin: 0;
        float: none;
    }
}
