---
title: Outreach
layout: text_page
summary: 'Together with other city departments, we manage the Street Violence Intervention Program (SVIP). The SVIP employs people to conduct street-level outreach in assigned neighborhoods. SVIP workers build relationships in their neighborhood, and work with the community there to prevent street violence.'
monthly_reports:
  - - July 2016
    - /resources/svip-reports/svip_july_2016_monthly_report.pdf
  - - June 2016
    - resources/svip-reports/svip_june_2016_mothly_report.pdf
  - - May 2016
    - /resources/svip-reports/svip_may_2016_monthly_report.pdf
  - - April 2016
    - /resources/svip-reports/svip_april_2016_monthly_report.pdf
  - - March 2016
    - /resources/svip-reports/svip_march_2016_monthly_report.pdf
  - - February 2016
    - /resources/svip-reports/svip_february_2016_monthly_report.pdf
  - - January 2016
    - /resources/svip-reports/svip_january_2016_monthly_report.pdf
  - - December 2015
    - /resources/svip-reports/svip_december_2015_monthly_report.pdf
  - - November 2015
    - /resources/svip-reports/svip_november_2015_monthly_report.pdf
  - - October 2015
    - /resources/svip-reports/svip_october_2015_monthly_report.pdf
  - - September 2015
    - /resources/svip-reports/svip_september_2015_monthly_report.pdf
  - - August 2015
    - /resources/svip-reports/svip_august_2015_monthly_report.pdf
  - - July 2015
    - /resources/svip-reports/svip_july_2015_monthly_report.pdf
  - - June 2015
    - /resources/svip-reports/svip_june_2015_monthly_report.pdf
  - - May 2015
    - /resources/svip-reports/svip_may_2015_monthly_report.pdf
  - - April 2015
    - /resources/svip-reports/svip_april_2015_monthly_report.pdf
  - - March 2015
    - /resources/svip-reports/svip_march_2015_monthly_report.pdf
  - - February 2015
    - /resources/svip-reports/svip_february_2015_monthly_report.pdf
  - - January 2015
    - /resources/svip-reports/svip_january_2015_monthly_report.pdf
  - - August 2016
    - /resources/svip-reports/svip_august_2016_monthly_report.pdf
quarterly_reports:
  - - 2016 Semi-Annual Report (January - June) Report
    - /resources/svip-reports/svip_semiannual_january_to_june_2016_report.pdf
  - - Quarter 2 (April-June) 2016
    - /resources/svip-reports/svip_quarterly_2_2016_report.pdf
  - - Quarter 1 (January-March) 2016
    - /resources/svip-reports/svip_quarter_1_2016_report.pdf
  - - Quarter 4 (October–December) 2015
    - /resources/svip-reports/svip_quarter_4_2015_report.pdf
  - - Quarter 3 (July–September) 2015
    - /resources/svip-reports/svip_quarter_3_2015_report.pdf
  - - Quarter 2 (April–June) 2015
    - /resources/svip-reports/svip_quarter_2_2015_report.pdf
  - - Quarter 1 (January–March) 2015
    - /resources/svip-reports/svip_quarter_1_2015_report.pdf
  - - 2015 Annual Report
    - /resources/svip-reports/svip_2015_annual_report.pdf
quarterly_plans:
  - - SVIP Quarter 1 2015 Report
    - /resources/svip-calendars-and-plans/svip_quarter_1_plan_2016.pdf
  - - SVIP Quarter 2 2016 Report
    - /resources/svip-calendars-and-plans/svip_quarter_2_plan_2016.pdf
  - - SVIP Quarter 3 2016 Report
    - /resources/svip-calendars-and-plans/svip_quarter_3_plan_2016.pdf
---

<h3 class="editable">Preventing Street Violence, A Neighborhood at a Time</h3>

<p class="body-4 editable">Through street outreach, crisis response, and community mobilization activities, the Street Violence Intervention Program (SVIP) makes San Francisco safer and healthier for all its residents.</p>

<p class="note editable"><span class="note-heading editable">Street Violence Defined</span><br />Street violence refers to any severe conflict related to street association rivalries and territories.</p>

<div class="img-caption editable"><p><img src="images/SVIP-Mid.JPG" /></p></div>

<p class="editable">The Mayor’s Office of Violence Prevention Services and <a href="https://www.sfdph.org/dph/default.asp">the Department of Public Health</a> oversee the Street Violence Intervention Program (SVIP). The Street Violence Intervention Program aims to reduce street violence and homicides through street-level prevention and intervention. The SVIP focuses especially on young people. SVIP outreach workers engage in three main activities: street outreach, crisis response, and community mobilization. You can read more about each of these activities below.</p>


<h4 class="editable">Street Outreach</h4>

<p class="editable">The SVIP works in the following San Francisco neighborhoods: the Tenderloin, Western Addition, SOMA, Bayview, Potrero Hill, Mission, Excelsior, Visitacion Valley, Alemany and Lakeview. SVIP outreach workers develop strong relationships within their assigned communities, particularly with young people and their families.</p>

<img class="editable" src="images/svip-map.png" />

<p class="editable">Through regular canvassing, outreach workers defuse potentially violent situations in schools and neighborhoods. Outreach workers also visit detention centers such as the Youth Guidance Center and the Hall of Justice. SVIP outreach workers use their relationships and influence with youth to prevent and intervene in incidents that could lead to serious street violence.</p>

<p class="note editable"><span class="note-heading">What is Canvassing?</span><br />When outreach workers “canvas” a neighborhood, that means that they directly interact with individuals in that neighborhood&mdash;starting conversations and building relationships. Canvassing also involves being systemic&mdash;making sure to visit different places and to visit them regularly.</p>

<img class="editable" src="images/Canvassing.JPG" />

<p class="editable">SVIP outreach workers also build relationships with communities through food distribution. SVIP outreach workers take food donations from <a href="http://www.foodrunners.org" target="_blank">Food Runners</a>, package them into individual meals, and hand-deliver them to individuals and families in their assigned communities.</p>

<p class="editable">Since they know the communities well, the outreach workers are able to deliver meals to areas that are hard to reach for other community-based organizations. Deliveries also provide a chance for outreach workers to engage with individuals and families.</p>


<h4 class="editable">Crisis Response</h4>

<p class="editable">When a homicide or shooting occurs, SVIP workers support first responders. SVIP workers act as liasons between first responders and community members. They use their expertise to de-escalate the situation and prevent further violence. SVIP workers also provide support and guidance to families, friends, and witnesses of crime.</p>


<h4 class="editable">Community Mobilization</h4>

<p class="editable">SVIP workers organize workshops and recreation activities to bring people from their neighborhood together. These events provide an opportunity for community members to discuss and plan how to change their community for the better. Events can also reduce tensions for people the neighborhood.</p>

<p class="editable">Various community and faith-based organizations organize peaceful protests, rallies, or demonstrations in communities covered by SVIP workers. When those events happen, SVIP outreach workers help them proceed peacefully by acting as liaisons with city officials.</p>

<p class="editable">Through street outreach, crisis response, and community mobilization activities the SVIP makes San Francisco safer and healthier for all its residents.</p>


<h4 class="editable">Contact SVIP Staff</h4>
<ul>
    <li class="editable">
        <strong>Arturo Carrillo</strong>, Program Director
        <br /><a href="tel://415-652-3924">(415) 652-3924</a>
    </li>
    <li class="editable">
        <strong>John Nauer</strong>, Street Outreach Manager
        <br /><a href="tel://415-572-7415">(415) 572-7415</a>
    </li>
    <li class="editable">
        <strong>James Caldwell</strong>, Crisis Response Manager
        <br /><a href="tel://415-572-7008">(415) 572-7008</a>
    </li>
    <li class="editable">
        <strong>Guy Hudson</strong>, Bayview Coordinator
        <br /><a href="tel://415-572-7547">(415) 572-7547</a>
    </li>
    <li class="editable">
        <strong>Victor Jones</strong>, Mission/OMI Coordinator
        <br /><a href="tel://415-871-7942">(415) 871-7942</a>
    </li>
    <li class="editable">
        <strong>Cheeko Wells</strong>, Visitacion Valley/Lakeview/Alemany Coordinator
        <br /><a href="tel://415-871-7939">(415) 871-7939</a>
    </li>
    <li class="editable">
        <strong>Rico Hamilton</strong>, Western Addition/Tenderloin/SoMa Coordinator
        <br /><a href="tel://415-871-7901">(415) 871-7901</a>
    </li>
</ul>

<h3 class="editable">Further Reading</h3>
<p class="editable">These reports include details and numbers about SVIP's activities and communities served.</p>

<h4 class="editable">Monthly Reports</h4>
<ul class="files-list">
{% for report in page.monthly_reports %}
  <li><a href="{{ report[1] }}" class="cms-no-rewrite">{{ report[0] }} <i class="icon-download"></i></a></li>
{% endfor %}
</ul>

<h4 class="editable">Quarterly Reports</h4>
<ul class="files-list">
{% for report in page.quarterly_reports %}
  <li><a href="{{ report[1] }}" class="cms-no-rewrite">{{ report[0] }} <i class="icon-download"></i></a></li>
{% endfor %}
</ul>

<h4 class="editable">Quarterly Plans</h4>
<ul class="files-list">
{% for plan in page.quarterly_plans %}
  <li><a href="{{ plan[1] }}" class="cms-no-rewrite">{{ plan[0] }} <i class="icon-download"></i></a></li>
{% endfor %}
</ul>