      <div class="panel-flexible-inside panels-flexible-3-inside">
        <div class="panels-flexible-row panels-flexible-row-3-1 panels-flexible-row-first clearfix home-section-1-wrap">
          <div class="inside panels-flexible-row-inside panels-flexible-row-3-1-inside panels-flexible-row-inside-first clearfix">
            <div class="panels-flexible-region panels-flexible-region-3-splash_image panels-flexible-region-first panels-flexible-region-last home-section-1">
              <div class="inside panels-flexible-region-inside panels-flexible-region-3-splash_image-inside panels-flexible-region-inside-first panels-flexible-region-inside-last">
                <div class="panel-pane pane-views pane-front-page-carousel">
                  <div class="view view-front-page-carousel view-id-front_page_carousel view-display-id-default view-dom-id-85211e844c4ec87eda0bec148f2509f3">
                    <div class="view-content">
                      <div class="skin-default">
                        <div id="views_slideshow_cycle_main_front_page_carousel-default" class="views_slideshow_cycle_main views_slideshow_main viewsSlideshowCycle-processed">
                          <div id="views_slideshow_cycle_teaser_section_front_page_carousel-default" class="views-slideshow-cycle-main-frame views_slideshow_cycle_teaser_section">
                            <!--
                            <div id="views_slideshow_cycle_div_front_page_carousel-default_0" class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-1 views-row-odd">
                              <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-0 views-row-odd views-row-first">
                                <div class="views-field views-field-field-splash-image">
                                  <div class="field-content"><img typeof="foaf:Image" src="http://businessportal.sfgov.org/sites/default/files/Casa%20Sanchez_Carousel_0.png">
                                  </div>
                                  <div class="backstretch">
                                    <img src="http://businessportal.sfgov.org/sites/default/files/Casa%20Sanchez_Carousel_0.png">
                                  </div>
                                </div>
                                <div class="views-field views-field-field-subtext-bold">
                                  <div class="field-content carousel-subtext-bold">Casa Sanchez</div>
                                </div>
                                <div class="views-field views-field-field-subtext-normal">
                                  <div class="field-content carousel-subtext-normal">A family-owned business, Casa Sanchez has been making salsa and tortilla chips for five generations.</div>
                                </div>
                              </div>
                            </div>
                            -->
                            <!--
                            <div id="views_slideshow_cycle_div_front_page_carousel-default_1" class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-2 views_slideshow_cycle_hidden views-row-even">
                              <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-1 views-row-even">
                                <div class="views-field views-field-field-splash-image">
                                  <div class="field-content">
                                    <img typeof="foaf:Image" src="http://businessportal.sfgov.org/sites/default/files/Roots_Carousel.png" alt="Roots Plant Nursery" style="width: 1436px; display: none;">
                                  </div>
                                  <div class="backstretch">
                                    <img src="http://businessportal.sfgov.org/sites/default/files/Roots_Carousel.png">
                                  </div>
                                </div>
                                <div class="views-field views-field-field-subtext-bold">
                                  <div class="field-content carousel-subtext-bold">Roots San Francisco</div>
                                </div>
                                <div class="views-field views-field-field-subtext-normal">
                                  <div class="field-content carousel-subtext-normal">Roots offers a variety of indoor plants &amp; terrariums in a whimsical South Van Ness row-house shop.</div>
                                </div>
                              </div>
                            </div>
                            -->
                            <!--
                            <div id="views_slideshow_cycle_div_front_page_carousel-default_2" class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-3 views_slideshow_cycle_hidden views-row-odd">
                              <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-2 views-row-odd">
                                <div class="views-field views-field-field-splash-image">
                                  <div class="field-content">
                                    <img typeof="foaf:Image" src="http://businessportal.sfgov.org/sites/default/files/HOME_Hero_1.jpg" alt="Four Barrel Coffee" title="Four Barrel Coffee" style="width: 1436px; display: none;">
                                  </div>
                                  <div class="backstretch">
                                    <img src="http://businessportal.sfgov.org/sites/default/files/HOME_Hero_1.jpg">
                                  </div>
                                </div>
                                <div class="views-field views-field-field-subtext-bold">
                                  <div class="field-content carousel-subtext-bold">Four Barrel Coffee</div>
                                </div>
                                <div class="views-field views-field-field-subtext-normal">
                                  <div class="field-content carousel-subtext-normal">Four Barrel Coffee offers fair prices to farmers, fair wages to baristas, and better-than-fair coffee to customers.</div>
                                </div>
                              </div>
                            </div>
                            -->
                            <div id="views_slideshow_cycle_div_front_page_carousel-default_3" class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-4 views_slideshow_cycle_hidden views-row-even">
                              <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-3 views-row-even">
                                <div class="views-field views-field-field-splash-image">
                                  <div class="field-content">
                                    <img typeof="foaf:Image" src="images/homepage/mayor-pic-wide-3.jpg">
                                  </div>
                                  <div class="backstretch">
                                    <img src="images/homepage/mayor-pic-wide-3.jpg">
                                  </div>
                                </div>
                                <div class="views-field views-field-field-subtext-bold">
                                  <div class="field-content carousel-subtext-bold"></div>
                                </div>
                                <!--<div class="views-field views-field-field-subtext-normal">
                                  <div class="field-content carousel-subtext-normal">
                                  Photo by <a href="#https://www.flickr.com/photos/leticiaroncero/16426443996/">Leticia Roncero</a>
                                </div>
                                -->
                              </div>
                            </div>
                          </div>
                          <!--
                          <div id="views_slideshow_cycle_div_front_page_carousel-default_4" class="views-slideshow-cycle-main-frame-row views_slideshow_cycle_slide views_slideshow_slide views-row-5 views_slideshow_cycle_hidden views-row-odd">
                            <div class="views-slideshow-cycle-main-frame-row-item views-row views-row-4 views-row-odd views-row-last">

                              <div class="views-field views-field-field-splash-image">
                                <div class="field-content">
                                  <img typeof="foaf:Image" src="http://businessportal.sfgov.org/sites/default/files/home01_rickshaw.jpg" width="1400" height="640" alt="Richshaw Bagworks" title="Richshaw Bagworks" style="width: 1436px; display: none;">
                                </div>
                                <div class="backstretch">
                                  <img src="http://businessportal.sfgov.org/sites/default/files/home01_rickshaw.jpg">
                                </div>
                              </div>
                              <div class="views-field views-field-field-subtext-bold">
                                <div class="field-content carousel-subtext-bold">Rickshaw Bagworks</div>
                              </div>
                              <div class="views-field views-field-field-subtext-normal">        <div class="field-content carousel-subtext-normal">Rickshaw's Zero Messenger Bag is designed to generate no waste in manufacturing.</div>
                            </div>
                          </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            <!--<div class="view-footer">
              <div id="slideshow-nav"><a href="#" class="">1</a><a href="#" class="">2</a><a href="#" class="">3</a><a href="#" class="activeSlide">4</a><a href="#" class=""
              >5</a>
              </div>      </div>
            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>