  <header class="header" id="header" role="banner" style="z-index: 100;">
    <div class="header__name-and-slogan" id="name-and-slogan">
      <h1 class="header__site-name" id="site-name">
      <a href="index.html" title="Home" class="header__site-link nav-logo-one" rel="home"><span>SF Mayor's Office of Violence Prevention Services</span></a>
      </h1>
      <!--div id="hamburger-one" class="hamburger"><span><p>Nav Toggle</p></span></div>-->
      </div>
      <div class="header__region region region-header" style="overflow-x: visible;">
        <!--<div id="hamburger-two" class="hamburger"><span><p>Nav Toggle</p></span></div>-->

      <div id="block-nice-menus-2" class="block block-nice-menus first odd" style="top: 446px;">
        <!--<ul class="nice-menu nice-menu-down nice-menu-menu-assistance-menu nice-menus-processed sf-js-enabled" id="nice-menu-2"><li class="menu__item menu-674 menu-path-assistance first odd  dhtml-menu" id="dhtml_menu-674"><a href="http://businessportal.sfgov.org/assistance" title="" class="menu__link">Get Assistance</a></li>
        <li class="menu__item menu-675 menu-path-feedback  even last dhtml-menu" id="dhtml_menu-675"><a href="http://businessportal.sfgov.org/feedback" title="" class="menu__link">Give Feedback</a></li></ul>-->

      </div>

      <div id="block-google-translate-my-google-translate" class="block block-google-translate even">
        <div id="google_translate_element" style="width: 100%;">
        </div>
        <script type="text/javascript">
        function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'en,zh-TW,es,ja,ru,tl,vi,ko,pt-PT,iw,ar', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL, autoDisplay: false},'google_translate_element');
        }
        </script>
        <noscript>Unable to load google translation scripts.</noscript>
        <script type="text/javascript" src="./js/element.js"></script>

        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


        <script src="./js/sitebug.js" data-id="3142" data-display-rank="false" data-pos="top-right" id="webby-pv-bug"></script>
        <script>
          var css = '<style type="text/css"> #webby-pv-2014-bug{ position: relative !important; top: 8% !important; left: -8% !important; float: right !important;} #webby-pv-2014-bug iframe html body a img{ width: 70px !important; height: 70px !important;}</style>';
          jQuery("body").append(css);
        </script>
      </div>

      <!--
        search
          <div id="block-search-by-page-1" class="block block-search-by-page odd" style="display: block;">
            <form class="search-by-page-form" action="http://businessportal.sfgov.org/search_pages" method="post" id="search-by-page-form" accept-charset="UTF-8"><div><div class="container">
              <div class="form-item form-type-textfield form-item-keys">
                <label for="edit-keys">Search for </label>
                <input type="text" id="edit-keys" name="keys" value="" size="30" maxlength="255" class="form-text" placeholder="Search">
              </div>
              <input type="submit" id="edit-submit" name="op" value="Search" class="form-submit"><input type="hidden" name="form_build_id" value="form-AzYEngrYD_mcsBWvtNRhji4rqclCdpiI8Hw0vxuhCFQ">
              <input type="hidden" name="form_id" value="search_by_page_form">
            </div>
          </div></form>
        </div>
      -->
      <div id="block-nice-menus-1" class="block block-nice-menus last even">
        <ul class="nice-menu nice-menu-down nice-menu-main-menu nice-menus-processed sf-js-enabled" id="nice-menu-1">
          <li class="menu__item is-collapsed menu-668 menuparent  menu-path-1  even  dhtml-menu collapsed start-collapsed" id="dhtml_menu-668">
            <a href="outreach.html" title="" class="menu__link">Outreach</a>
          </li>
          <li class="menu__item is-collapsed menu-659 menuparent  menu-path-2 first odd  dhtml-menu collapsed start-collapsed" id="dhtml_menu-659">
            <a href="coordination.html" title="" class="menu__link" data-900-id="k5alsb">Coordination</a>
          </li>
          <li class="menu__item is-collapsed menu-668 menuparent  menu-path-3  even  dhtml-menu collapsed start-collapsed" id="dhtml_menu-668">
            <a href="employment.html" title="" class="menu__link">Employment</a>
          </li>
          <li class="menu__item is-collapsed menu-668 menuparent  menu-path-4  even  dhtml-menu collapsed start-collapsed" id="dhtml_menu-668">
            <a href="about.html" title="" class="menu__link">About</a>
          </li>

          <!--
          <li class="menu__item is-collapsed menu-668 menuparent  menu-path-5  odd  dhtml-menu collapsed start-collapsed" id="dhtml_menu-668">
            <a href="misc-templates.html" title="" class="menu__link">[Misc Templates]</a>
            <ul style="display: none; visibility: hidden;">
              <li class="menu__item menu-834 first odd  dhtml-menu" id="dhtml_menu-834">
                <a href="sfbplocationopts.html" title="" class="menu__link">Text Heavy Page</a>
              </li>
              <li class="menu__item menu-834 first odd  dhtml-menu" id="dhtml_menu-834">
                <a href="sfbpstart.html" title="" class="menu__link">Jumping Off Page</a>
              </li>
              <li class="menu__item menu-834 first odd  dhtml-menu" id="dhtml_menu-834">
                <a href="sfbpname.html" title="" class="menu__link">Text and Timeline, Resources</a>
              </li>
              <li class="menu__item menu-834 first odd  dhtml-menu" id="dhtml_menu-834">
                <a href="sfbpstarter.html" title="" class="menu__link">Starter Kits</a>
              </li>
            </ul>
          </li>
        -->
        </ul>
      </div>
    </div>
  </header>