---
layout: default
---
    <div id="main">
      <div id="content" class="column" role="main">
        <a id="main-content"></a>
        <!-- <h1 class="page__title title" id="page-title"></h1> -->
        <div class="panel-flexible t5-wrap clearfix">
          <div class="panel-flexible-inside t5-wrap-inside">
            <div class="panels-flexible-column panels-flexible-column-t5-wrap-3 panels-flexible-column-first t5-left-menu">
              <div class="inside panels-flexible-column-inside panels-flexible-column-t5-wrap-3-inside panels-flexible-column-inside-first">
                <div class="panels-flexible-region panels-flexible-region-t5-wrap-menu panels-flexible-region-first panels-flexible-region-last t5-banner banner">
                  <div class="inside panels-flexible-region-inside panels-flexible-region-t5-wrap-menu-inside panels-flexible-region-inside-first panels-flexible-region-inside-last">
                    <div class="panel-pane pane-node">
                      <article class="node-2438 node node-single-with-image view-mode-full clearfix manage-color-section" about="/node/2438" typeof="sioc:Item foaf:Document">
                        <div class="article-inner">
                          <div class="article-inner-two">
                            <header>
                              <span property="dc:title" content="" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>
                            </header>
                            <div class="field field-name-field-heading field-type-text field-label-hidden"><div class="field-items"><div class="field-item even dpi-edit" data-900-id="2oixpi">{{ page.title }}<br></div></div></div><div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"> {{ page.summary }}
                          </div></div></div>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panels-flexible-column panels-flexible-column-t5-wrap-main panels-flexible-column-last">
            <div class="panels-flexible-row panels-flexible-row-t5-wrap-main-row panels-flexible-row-first clearfix t5-menu-wrap">
              <div class="inside panels-flexible-row-inside panels-flexible-row-t5-wrap-main-row-inside panels-flexible-row-inside-first clearfix">
                <div class="panels-flexible-region panels-flexible-region-t5-wrap-center panels-flexible-region-first panels-flexible-region-last t5-menu">
                  <div class="inside panels-flexible-region-inside panels-flexible-region-t5-wrap-center-inside panels-flexible-region-inside-first panels-flexible-region-inside-last">
                    <div class="panel-pane pane-block pane-menu-menu-grow-location-options-men">
                      <!--
                      <h2 class="pane-title">Coordination</h2>
                      <ul class="menu dpi-edit" style="display: block;" data-900-id="ebdxuf"><li class="menu__item is-leaf first leaf dhtml-menu" id="dhtml_menu-903"><a href="svrt.html" title="" class="menu__link" data-900-id="6pw2hu">Street Violence Response Team</a></li>
                      -->

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="panels-flexible-row panels-flexible-row-t5-wrap-6 clearfix t5-main-wrap">
            <div class="inside panels-flexible-row-inside panels-flexible-row-t5-wrap-6-inside clearfix">
              <div class="panels-flexible-region panels-flexible-region-t5-wrap-section_2__orange_headings_ panels-flexible-region-first panels-flexible-region-last t5-main">
                <div class="inside panels-flexible-region-inside panels-flexible-region-t5-wrap-section_2__orange_headings_-inside panels-flexible-region-inside-first panels-flexible-region-inside-last">
                  <!-- important styling class -->
                  <div class="panel-pane pane-node page-content">
                    <article class="node-2652 node node-single node-single-with-image view-mode-full clearfix manage-color-section" about="/node/2652" typeof="sioc:Item foaf:Document">
                      <div class="article-inner">
                        <div class="article-inner-two">
                          <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                            <div class="field-items">
                              <div class="field-item even" property="content:encoded">
                                {{ content }}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>
           {% if page.partners %}
          <div class="panels-flexible-row panels-flexible-row-t5-wrap-7 clearfix t5-featured-heading-wrap featured-heading-wrap">
    <div class="inside panels-flexible-row-inside panels-flexible-row-t5-wrap-7-inside clearfix">
      <div class="panels-flexible-region panels-flexible-region-t5-wrap-featured_items_heading panels-flexible-region-first panels-flexible-region-last t5-featured-heading featured-heading">
        <div class="inside panels-flexible-region-inside panels-flexible-region-t5-wrap-featured_items_heading-inside panels-flexible-region-inside-first panels-flexible-region-inside-last">
          <div class="panel-pane pane-node">
            <article class="node-1060 node node-single view-mode-full clearfix" about="/node/1060" typeof="sioc:Item foaf:Document">
              <header>
                <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"> <h3 class="editable">Program Partners</h3>
                </div></div></div>
              </header></article>
            </div>
          </div>
        </div>
      </div>
    </div>
   
    <div class="panels-flexible-row panels-flexible-row-t5-wrap-8 panels-flexible-row-last clearfix t5-featured-wrap featured-wrap">
      <div class="inside panels-flexible-row-inside panels-flexible-row-t5-wrap-8-inside panels-flexible-row-inside-last clearfix">
        <div class="panels-flexible-region panels-flexible-region-t5-wrap-featured_items panels-flexible-region-first panels-flexible-region-last t5-featured featured">
          <div class="inside panels-flexible-region-inside panels-flexible-region-t5-wrap-featured_items-inside panels-flexible-region-inside-first panels-flexible-region-inside-last">
             {% for partner in page.partners %}
             <div class="panel-pane pane-node" style="height: 214px;">
              <article class="node-2573 node node-online-resource node-teaser clearfix" about="/node/2573" typeof="sioc:Item foaf:Document">
                <div class="resource-teaser-mode manage-color-section">
                  <div class="resource-teaser-title">
                    <a href="{{ partner[2] }}"><h3>{{ partner[0] }}</h3></a>
                  </div>
                  <div class="resource-teaser-description"><p>{{ partner[1] }}</p></div>
                  <div class="resource-teaser-actions">
                    <a href="{{ partner[2] }}"><p class="resource-link-cta tool-tip" original-title="View Department"><span>View</span></p></a>
                  </div>
                </div>
              </article>
            </div>
             {% endfor %}
            
                  </div>
                </div>
              </div>
            </div>
        {% endif %}
        </div>
    </div>
  </div>
</div>
</div>